{{ $seriesKey := .Params.articleSeries.series }}
{{ if $seriesKey }}
  {{ $series := index (index site.Data "article-series") $seriesKey }}
  {{ if $series }}
  {{ $title := $series.title | default "Article Series" }}
  <div class="article-series">
    <div class="article-series__title" role="heading" aria-level="2"><span>{{ $title }}</span></div>
    <div class="article-series__body">
      <ul>
        {{ range $series.items }}
          <li class="article-series__item">
            <a class="article-series__link" href="{{ .url | relURL }}">{{ .title }}</a>
            {{ with .description }}<span class="article-series__description">{{ . }}</span>{{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
{{ end }}
