<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
    <div class="copyright copyright--user">
      <span>{{ $.Site.Copyright | safeHTML }}</span>
      {{else}}
      <div class="copyright">
        {{end}}
        <span> <a href="/impressum">Impressum</a></span>
      </div>
    </div>
</footer>
<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{ if len $.Site.Menus.about }}
  {{ partial "aboutmenu.html" . }}
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}  